

* {
	margin: 0;
	padding: 0;
/*	outline: 3px solid	green;*/

}

body {
	background-image: url("./images/bg-lucky.png");
	background-image: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.main {
	display: flex;
	align-items: center;
	margin-top: 7%;
}

.main-logo {
	height: 10vh;
	margin-left: 5px;
}

.coin {
	width: 33vw;
	height: 5vh;
	background-color: #F0E45D;
	border-radius: 25px;
	margin-left: 20vw;
	align-items: center;
	display: flex;
}
.wallet {
	height: 3vh;
}



.event-header {
	display: flex;
	font-family: 'Roboto', sans-serif;
	margin-left: 15px;
}

.event-head {
	padding-right: 30%;
}

.frame {
	margin-left: 10%;
}

.game-icons {
	display: flex;
	margin-top: 10px;
}


  
  /* EVENT WINNER CARD CSS */

/* ONE V ONE BOX */

.one-v-one-box {
	display: flex;
	justify-content: center;
}


  /* GAMES BOX MD CSS */
.games-box-md {
	height: 681px;
	width: 521px;
	background: #0C1423;
	margin-left: 50%;
}


@media only screen and (min-width: 414px) and (max-width: 896px) {
	.name {
		width: 40%;
		height: 13vh;
	} 

	.lowerbanner {
		margin-top: -30px;
		height: 20px;
	}

	.top-container {
		margin-top: 6px;
	}

	.names {
		margin-right: 30px;
	}
	
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.name {
		width: 15%;
		height: 15vh;
	} 

	.box-date {
		margin-left: 15px;
		margin-right: 10px;
		font-size: 12px;		
	}

	.names {
		margin-right: 10px;
	}

	/* ONE V ONE RESPONSIVENESS */

	
}









/* ONE V ONE BOX */




.logo-container {
	display: flex;
	align-items: center;

	}

	.logo-container div {
		margin-left: 20px;
	}

	.games-container {
		background-color: #413C58;
		width: 90vw;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	}

	/* player box */

	.red-player p,
	.blue-player p {
	  margin: 0;
	  line-height: 1.2;
	  font-style: italic;
	}


	/* ODDS	*/

	

	

	/* NUMBER GAMES CONTAINER */

	.number-games-container {
		background-color: #595378;
		width: 340px;
		height: 140px;
		border-radius: 15px;
		border: 2px solid #7A71A1;
	}
	.number-games-text {
		background-color: #595378;
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 10px;
	}

	.number-games-headline {
		margin-bottom: 0px;
	}

	.number-games-text > h1 {
		color: #F0E45D;
		font-weight: bold;
		font-style: italic;
		font-size: 27px;
	}

	.number-games-text > p {
		font-size: 15px;
		line-height: 16px;
	}

	.ten-text {
		font-weight: bold;
	}

	/* SPECIAL EVENTS */

	.special-events-header {
		margin-right: 130px;
		font-style: italic;
		padding-left: 10px;
	}

	.view-all-text {
		color: #F0E45D;
		font-weight: bold;
		font-size: 13px;
	}

	/* SPECTRAL FURY TEXT */

	.fury-text {
		font-size: 13px;
		margin-left: 20px;
		margin-top: 5px;
	}

	.after-photo-text {
		margin-left: 20px;
		width: 240px;
		font-size: 15px;
		margin-top: -20px;
		line-height: 14px;
	}

	.name-span {
		font-weight: bold;
	}

	.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-text > p {
  margin-bottom: -5px;
  font-size: 12px;
}

	/* PER GAME CSS START */

	.select-event-headline {
		font-weight: bold;
	}
	.event-card {
		border-radius: 15px;
		background: rgb(122,113,161);
		background: linear-gradient(90deg, rgba(122,113,161,1) -25%, rgba(65,60,88,1) 80%);

	}

	.event-card-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: -40px;
		color: #F0E45D;
	}

	/* PICK ONE CSS */

	.player-cards-container2 {
		background-color: #0C1423;
		height: 51.7vh;
		width: 90vw;
		-webkit-border-bottom-right-radius: 15px;
		-webkit-border-bottom-left-radius: 15px;
		-moz-border-radius-bottomright: 15px;
		-moz-border-radius-bottomleft: 15px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		border: 2px solid #7A71A1;
	}

	.tiger-arena-text1 {
		font-size: 0.9em;
		font-style: italic;
		font-weight: bold;	
		margin-bottom: 0;
		color: #F0E45D;
	}

	.tiger-arena-txt-pick1 {
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		margin-top: 0;
		margin-bottom: 3px;
	}

	.gross-txt {
		font-style: italic;
		font-weight: bold;
		text-align: center;
		font-size: 18px;
	}

	.battle-siege-container {
		border: 1px solid white;
	}