.card-event-container {
	width: 100%;
	overflow: hidden;
}

.event-container {
	display: flex;
	width: 130vw;
	animation: moveRight 10s linear infinite;
  }
  
  /* @keyframes moveRight {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(0%);
	}
  } */

  .name {
	width: 40%;
	height: 15vh;
	margin: 10px;
	background-color: #0C1423;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.top-container {
	display: flex;
	align-items: center;
}

.names {
	background-color: #F0E45D;
	width: 25vw;
	height: 3vh;
	border-radius: 53px 0px 108px 0px;
	-moz-border-radius: 53px 0px 108px 0px;
	-webkit-border-radius: 53px 0px 108px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-style: italic;
	margin-top: -16px;
	margin-right: 15px;
}

.title-name {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	margin-bottom: -5px;
}

.box-date {
	color: white;
	margin-left: 17px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.winner-names-container {
	width: 25vw;
	padding-left: 16px;
	text-align: justify;
	min-height: 10vh;
	max-height: 10vh;
	color: white;
	max-width: 15vw;
	min-width: 15vw;

}

.winner {
	font-size: 12px;
}

.winner-names-box{
	min-height: 7vh;
	margin-top: -7px;
}

.winner-names {
	font-size: 13px;
}

.lowerbanner {
	height: 15px;
	width: 100%;
	background-color: #F0E45D;
	margin-top: -10px;
	-webkit-border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	font-weight: bold;
}

@media only screen and (min-width: 414px) and (max-width: 896px) {
	.name {
		width: 40%;
		height: 13vh;
	} 

	.lowerbanner {
		margin-top: -30px;
		height: 20px;
	}

	.top-container {
		margin-top: 6px;
	}

	.names {
		margin-right: 30px;
	}
	
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.name {
		width: 15%;
		height: 15vh;
	} 

	.box-date {
		margin-left: 15px;
		margin-right: 10px;
		font-size: 12px;		
	}

	.names {
		margin-right: 10px;
	}

	
}

@media only screen and (min-width: 800px) and (max-width: 1280px) {
	.name {
		width: 13%;
		height: 15vh;
	} 

	.box-date {
		margin-left: 15px;
		margin-right: 10px;
		font-size: 12px;		
	}

	.names {
		margin-right: 10px;
	}

	
}



