.one-v-one-container {
	display: flex;
	justify-content: center;
	width: 90vw;
	gap: 4px;
}

.red-player {
    width: 38vw;
    height: 10vh;
    background-color: #E1411D;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-names-container {
    max-width: 90px;
}

.betOn-text {
    font-size: 12px;
}

.players {
    font-size: 14px;
    font-weight: bold;
}

.vs-text {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.blue-player {
    background-color: #003BAC!important;
    width: 38vw;
    height: 10vh;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
























