*{
     margin: 0;
     padding: 0;
     outline: 1px solid black;
}

.names-container1 {
    width: 50%;
    padding: -100px;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-right-radius: 110px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomright: 110px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 110px;
    background-color: aliceblue;
    color: #E1411D;
}

.names-container2 {
    width: 50%;
    height: 32px;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-left-radius: 110px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomleft: 110px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 110px;
    background-color: aliceblue;
    float: right;
    color: #003BAC;
}

.red-card {
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
    background-color: #E1411D;
}

.yellow-card {
-webkit-border-top-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
background-color: #003BAC;
}

.t-p-p-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
}

.t-p-p-container1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.text-container {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.text-container > p {
    background-color: white;
    font-size: 10px;
    margin: 0;
    line-height: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.total-bets-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    opacity: 0.8;
}

.total-bets-container1 {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    opacity: 0.8;

}

span {
    font-weight: bold;
    font-size: 11px;
}

.odds-container {
    margin-top: 46px;
    font-size: 10.9px;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    background-color: white;
    height: 20px;
}
 
